@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1220px;
  width: 96%;
  margin: 0 auto;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*=================================
  Header styling starts here
=================================*/
header {
  height: 113px;
  width: 100%;
  background-color: #a9ad00;
  display: flex;
  overflow: hidden;
}
header .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
header nav {
  flex: 1;
}
h1 {
  width: 212px;
  height: 100%;
}
h1 a {
  text-indent: -999999px;
}
h1 img {
  float: right;
}
header img {
  height: 100%;
}
.navigation {
  margin-left: 24px;
}
.navigation a {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-left: 30px;
  margin-right: 10px;
  transition: 0.3s;
}
.navigation a:hover {
  text-shadow: 0 0 10px #fff;
}
.donate-btn {
  font-family: "Poppins", sans-serif;
  padding: 12px 17px;
  font-size: 17.5px;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: 600;
  color: #6d0f2f;
  border-radius: 15px;
}
.donate-btn .fa {
  font-size: 25px;
  margin-left: 14px;
}
.hamburger {
  position: fixed;
  top: 3%;
  right: 3%;
  width: 35px;
  height: 30px;
  background-color: black;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  display: none;
}
.line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  banner styling starts here
=================================*/
.banner {
  position: relative;
  width: 100%;
  height: 465px;
  background: url(../images/1.jpg) no-repeat center/cover;
}
.banner-heading {
  font-size: 40px;
  text-transform: lowercase;
  color: #fefdfe;
  font-weight: 500;
  position: absolute;
  bottom: 70px;
  left: 54px;
}
/*=================================
  banner styling ends here
=================================*/

/*=================================
  community-program styling starts here
=================================*/
.community-program {
  text-align: center;
}
.community-heading {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 46px 0 15px;
  letter-spacing: 2px;
  color: #010101;
}
.community-program .para {
  text-indent: 100px;
  margin-bottom: 70.5px;
}
.para {
  font-size: 16.5px;
  color: #262626;
  font-weight: 400;
}
.redirect-buttons {
  height: 82px;
  border: 2.3px solid #a9ad00;
  border-left: transparent;
  border-right: transparent;
}
.redirect-buttons .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-links a {
  font-size: 17.5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #3d3d3d;
  margin-right: 30px;
}
div.apply-btn {
  margin-left: 20px;
}
a.apply-btn {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fbf6dc;
  background-color: #f39c13;
  padding: 10px 16px;
  border-radius: 15px;
  border: none;
}
/*=================================
  community-program styling ends here
=================================*/

/*=================================
  objectives styling starts here
=================================*/
.objectives {
  padding: 25px 0 66px;
  text-align: center;
  border-bottom: 2px solid #a9ad00;
}
.objectives .wrapper {
  max-width: 1070px;
}
.fourth-heading {
  color: #a6ab01;
  font-size: 38.3px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 9px;
}
.objectives .para {
  font-weight: 500;
  opacity: 0.9;
}
.objectives-content {
  margin: 44px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.objectives-contentBox {
  width: 26.5%;
  height: 564px;
  background-color: #a9ad00;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.objectives-contentBox figure {
  width: 134px;
  height: 134px;
  margin-top: 25px;
}
.objectives-contentBox img {
  height: 100%;
  border-radius: 50%;
}
.content {
  margin-top: 52.5px;
}
.fifth-heading {
  color: #fafaf6;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}
.obj-para {
  font-size: 15.5px;
  font-weight: 600;
  color: #fafaf6;
  line-height: 25px;
}
.bold {
  font-weight: 500;
  letter-spacing: 0.5px;
}
/*=================================
  objectives styling ends here
=================================*/
/*=================================
  priority styling starts here
=================================*/
.priority {
  padding: 33px 0 70px;
  text-align: center;
  border-bottom: 2px solid #a9ad00;
}
.priority .fourth-heading {
  font-weight: 600;
}
.priority-content {
  width: 78%;
  margin: 35px auto 21px;
  text-align: left;
}
.priority-content li {
  text-align: left;
  margin-bottom: 25px;
}
.priority-content .fa {
  width: 22px;
  height: 22px;
  font-size: 20px;
  text-align: center;
  border: 1.1px solid #a2a711;
  color: #a2a711;
  border-radius: 50%;
  margin-right: 20px;
}
.prior-heading {
  display: inline-block;
}
/*=================================
  priority styling ends here
=================================*/
/*=================================
  grants styling starts here
=================================*/
.grant {
  padding: 24px 0 147px;
  text-align: center;
  border-bottom: 2px solid #a9ad00;
}
.black {
  color: #000;
}
.grant .wrapper {
  max-width: 1100px;
}
.grant .fourth-heading {
  font-weight: 600;
}
.grant-content {
  margin-top: 53px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.grant-content .para {
  font-weight: 500;
  color: #4d4f4b;
}
.grant-content li {
  width: 29.3%;
}
.grant-content .fifth-heading {
  padding: 17px 0;
  font-size: 18.6px;
  background-color: #e8f2d7;
  margin-bottom: 7px;
}
.grant-content li:nth-child(2) .award {
  padding: 20px 45px;
}
.amount,
.award,
.info,
.apply {
  display: block;
  padding: 20px 25px;
  background-color: #f9fcf6;
  border-bottom: 2px solid #cbd9a6;
}
.amount {
  height: 98px;
}
.award {
  height: 104px;
}
.info {
  height: 180px;
}
.apply {
  position: relative;
  height: 50px;
  border-bottom: none;
}
.apply .apply-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
/*=================================
  grants styling ends here
=================================*/
/*=================================
  eligibility styling starts here
=================================*/

.eligibility {
  padding-top: 20px;
  text-align: center;
}
.eligibility .fourth-heading {
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 18px;
}
.p-one {
  margin-top: 25px;
}
.eligible-para {
  margin-bottom: 33px;
}
.eligibility figure {
  position: relative;
  width: 100%;
  height: 625px;
}
.eligibility img {
  height: 100%;
  object-fit: cover;
}
.download-forms {
  text-align: left;
  position: relative;
  top: -221px;
  left: 50%;
  transform: translateX(-50%);
  height: 405px;
  width: 456px;
  background-color: #fff;
  border: 3px dashed #a6ac00;
  padding: 28px 32px;
}
.download-forms ul {
  margin-top: 28px;
}
.download-forms li {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.download-heading {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.download-forms li:hover .application-head,
.download-forms li:hover .fa {
  color: #811c39;
}
.download-forms .fa {
  font-size: 50px;
  margin-right: 25px;
  transition: .3s;
}
.application-head {
  font-size: 22px;
  font-weight: 600;
  transition: .3s;
}
/*=================================
  eligibility styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
